.form--wrapper{
    border-radius: 40px;
    display: flex;
    padding: 12px;
    line-height: 200%;
    font-size: medium;
    font-stretch: expanded;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 187, 235);
    border: 5px solid rgb(8, 221, 232);
    width: 350px;
    height: 300px;
    border: 1px solid blue;
    box-sizing: border-box;
    /* width: 50%; */
}
.form-data{
    margin:5px 0;
}

.submit-btn{
    color: white;
    background-color: rgb(201, 133, 202);
    /* width: 1rem;
     */
     padding: 6px;
    border-radius: 8px;

}
